body {
  display: flex;
  background-image: url("/images/wallpaper.jpg");
  background-position: center;
  background-size: cover;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-spacing: 0;
  padding: 0;
  margin:0;
  flex:1;
  flex-basis:0;
 }
 #title_chats{
   text-align: left;
   padding: 7px;
   margin:10px;
   color: #272220;
 }
 #title_chat_principal{
   color: #272220;
 }

 /* Changement de la scrollbar*/
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(76, 65, 63);
  border-radius: 20px;
  border: 3px solid rgb(76, 65, 63);
}

 /*Partie chanels*/
.affichage_chanels{
   display: flex;
   flex-direction: row;
   flex: 1;
   align-items: stretch;
   height: 100%;

 }
 .chanels{
   background-color: rgba(0, 0, 0, 0.4);
   flex:1;
 }
 .ajout_chanel{
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius : 25px;
   margin : 5px;
   height: 30px;
   border-style: solid;
   border-width: thin;
   border-color: white;
   background-color: rgb(76, 65, 63);
   color: rgb(236, 227, 212);
 }
 .principal{
   color: white;
   display: flex;
   flex-direction: row;
   background-color: rgb(76, 65, 63);
   height: 50px;
   justify-content: space-between;
   align-items: center;
   padding-left: 5px;
   padding-right: 10px;
   border-style: solid;
   border-width: thin;
   border-color: rgb(180, 218, 229);
   border-radius: 10px;
   margin: 7px;
   filter: drop-shadow(2px 2px 1px RGB(76, 65, 63,0.8));
 }
#img_principal{
  width : 40px; height : 40px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
  margin-right: 5px;
}

/*Affichage liste users*/
.affichage_users{
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
}
#users{
   background-color:rgba(0, 0, 0, 0.4);
   flex-direction: column;
   flex: 1;
 }
#listusers{
  padding: 0;
  margin: 0;
}
#listusers li{
  display: flex;
  flex-direction: row-reverse;
  justify-content:space-between;
  align-items:center;
  list-style-type:none;
  background-color: rgb(180, 218, 229);
  height: 60px;
  padding-left: 5px;
  padding-right: 10px;
  border-style: solid;
  border-width: thin;
  border-color: rgb(180, 218, 229);
  border-radius: 10px;
  margin: 7px;
  filter: drop-shadow(2px 2px 1px RGB(180, 218, 229,0.7));
}
#listusers li :focus{
  background-color: black;
}
#user_logo{
  width : 40px; height : 40px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
  margin-right: 5px;
}
#listusers li.new {
  background: rgb(90, 111, 128);
  color: white;
}


/*Login formulaire de login*/
#loginform{
  display: flex;
  flex-direction: column;
}
.formulaire{
  margin: 5px;
  color: black;
  height: 30px;
  border-style: solid;
  border-radius: 5px;
  border-color:rgb(71, 53, 53) ;
  border-width: thin;
  background-color: rgb(180, 218, 229);
}
#submit-login{
  color: white;
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  background-color:rgb(76, 65, 63) ;
  border-color: rgb(180, 218, 229);
}
::placeholder{
  color: rgb(40, 34, 29);
}
#login{
  width: 30%;
  color: #473535;
  border-style:solid;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.4);
  padding-bottom: 30px;
  padding: 10px;
}
#choosen_avatar{
  margin: 5px;
  margin-top: 20px;
  width : 100px; height : 100px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
  margin-right: 5px;
}
.avatars{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow-x: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  margin-bottom: 20px;
  margin-top:10px;
}
.avatars img{
  width : 70px; height : 70px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
  margin-right: 5px;
}

/*Partie envoi de messages*/
.affichage_messages{
  width: 100%;
  flex: auto;
  overflow-y: auto;
  scrollbar-color: rebeccapurple green;
  scroll-snap-align: end;
  scrollbar-width: thin;
  padding-top: 5px;
 }
.display_send{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 3;
  height: 100%;
}
#title_chat_principal{
  display: flex;
  align-self: center;
  justify-content: center;
}
 #messages {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    justify-content: flex-start;
 	  align-items:
 }

 /*Bare de messages*/
#message{
  flex: 7;
}
#form {
    display: flex;
     bottom: 0;
     width: 100%;
     border-spacing: 0;
     padding: 0;
     margin:0;
 }
#send{
  flex: 1;
  background-color: rgb(76, 65, 63);
  border-width: thin;
  border-color: rgb(180, 218, 229);
  color: rgb(236, 227, 212);
}


.message{
  padding: 5px;
}

/*Message envoyeur et receveur*/
.service{
  color : rgb(76, 65, 63);
}
.own_msg{
  padding: 7px;
  margin-top: 5px;
  display:flex;
  white-space: inherit;
  justify-content: flex-end;
  width: 60%;
  background-color: rgba(236, 227, 212, 0.75);
  border-radius: 5px;
}
.received_msg{
  padding: 7px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  white-space: normal;
  justify-content: flex-start;
  align-items: baseline;
  width: 60%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.75);
}
#flex_start{
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
#flex_end{
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  white-space: normal;
  justify-content: flex-end;
  align-items: flex-end;
}
p{
  white-space: normal;
  margin: 0;
  padding: 0;
}
span{
  flex-wrap: wrap;
  white-space: normal;
  margin-right: 5px;
  color: rgb(76, 65, 63);
}
.info_msg{
  display: flex;
  justify-content: flex-start;
  align-items:flex-start;
  margin-right: 5px;
  margin-left: 5px;
}
#user_logo_msg{
  width : 18px; height : 18px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
  margin-right: 5px;
}

/*Bare recherche*/
#search{
  display: flex;
  flex-direction: row;
  background-color: white;
  margin: 7px;
  margin-bottom: 10px;
  border-width: thin;
  border-style: solid;
  border-color: rgb(76, 65, 63);
}
#loupe{
  flex:1;
  width : 35px; height : 35px;
  border-width: thin;
  background-image: green;
}
#input_search{
  flex: 7;
  border: none;
  color: rgb(76, 65, 63);
}

/*Affichage fonction is typing*/
#listusers li span.typing {
    float: right;
    font-style: italic;
    display: none;
}
.name_typing{
  display: flex;
  flex-direction: column-reverse;
}
